.formpage-container {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    min-height: 730px;
}

.formpage-container div {
    height: 100%;
    padding-top: 54px;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .formpage-container div {
        padding-top: 50px
    }
}

@media (max-width: 7000px) {
    .formpage-container {
        min-height: none;
    }
}