.service-container {
    display: flex;
    flex-direction: column;
    background: var(--deepblue);
    gap: 90px;
    padding-bottom: 90px;
    padding-top: 200px;
    position: relative;
}

.service-container .curvesvideo {
    mix-blend-mode: lighten;
    position: absolute;
    margin-top: -500px;
    filter: sepia() hue-rotate(-170deg) saturate(2);
    pointer-events: none;
    min-width: 1000px;
}

.curvesvideo-service-page {
    mix-blend-mode: lighten;
    position: absolute;
    margin-top: -128px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    filter: sepia() hue-rotate(-170deg) saturate(2);
    pointer-events: none;
    width: 100vw;
    height: auto;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

@media (max-width: 900px) {
  .curvesvideo-service-page {
    height: 120vh;
  }
  .service-container {
    padding-top: 0px;
  }
}