.footer-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 40px 60px;
  width: 100%;
  gap: 40px;
}

.footer-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-logo {
  height: 38px;
  width: auto;
}

.footer-brand {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: #fff;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

.footer-dot {
  color: #ff2e7a;
}

.footer-services {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
}

.footer-btn {
  background: transparent;
  border: 1px solid #9998db63;
  color: #fff;
  border-radius: 8px;
  padding: 10px 18px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: border 0.2s, color 0.2s, background 0.2s;
}
.footer-btn:hover {
  border: 1px solid #fff;
  color: #ffffff;
  background: #21294456;
}

.footer-copyright {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  color: #ffffff47;
  font-size: 14px;
}

.footer-legal {
  width: 100%;
  text-align: center;
}

.footer-legal-link {
  color: #aaa;
  font-size: 12px;
  text-decoration: none;
  transition: color var(--transition-duration);
}

.footer-legal-link:hover {
  color: white;
}

.footer-legal-separator {
  margin: 0 10px;
  color: #808080;
}

.footer-socials {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 1px solid #9998db63;
  color: #fff;
  border-radius: 20px;
  font-size: 30px;
  transition: border 0.2s, color 0.2s, background 0.2s;
  text-decoration: none;
}
.footer-social-btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background: #21294456;
}

@media (max-width: 700px) {
  .footer-logo-box {
    flex-direction: column;
    gap: 4px;
  }
  .footer-brand {
    font-size: 2rem;
  }
  .footer-services {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .footer-top-buttons {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
