.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 25px;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 40px;
    padding-right: 21px;
    width: fit-content;
    background: #303b6bb0;
    border: 1px solid #ffffff27;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.navbar .logo {
    width: 35px;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.nav-links a:hover {
    background: #9baed31f;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.hamburger-line {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.hamburger-line.open:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger-line.open:nth-child(2) {
    opacity: 0;
}

.hamburger-line.open:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 1200px) {
    .navbar {
        justify-content: flex-start;
        margin-top: 0
    }

    .navbar-container {
        width: 100%;
        justify-content: space-between;
        padding: 35px 40px 0;
        border-radius: 0;
        background: linear-gradient(var(--deepblue), transparent);
        border: none;
        backdrop-filter: none;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #303b6bb0;
        backdrop-filter: blur(10px);
        padding: 20px;
        gap: 10px;
        border: 1px solid #ffffff27;
        border-radius: 20px;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        margin: 25px;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .nav-links a {
        display: block;
        padding: 15px;
        text-align: left;
        font-size: 20px
    }
}

