.project-card {
    width: 612px;
    height: 432px;
    background: linear-gradient(#2E415C, #1C3557);
    border: 1px solid #FFFFFF34;
    border-radius: 13px;
    text-decoration: none;
    overflow: hidden;
}

.project-card-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.project-card:hover .project-card-image {
    transform: scale(1.05);
}

@media screen and (max-width: 1500px) {
    .project-card {
        width: 459px;
        height: 324px;
    }
}

@media screen and (max-width: 1000px) {
    .project-card {
        width: 306px;
        height: 216px;
    }
}