.faqs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 25px;
    gap: 30px;

    h3 {
        font-size: 30px;
        font-weight: 700;
        border: 1px solid white;
        border-radius: 20px;
        padding: 6px 15px;
        text-transform: uppercase;
        text-align: center;
    }
}

.faq {
    width: 100%;
    max-width: 700px;
}

.faq-title {
    background: linear-gradient(#03070d, #2f3246 95%);
    box-shadow: inset 0 0 30px rgba(94, 87, 161, 0.507);
    border: 1px solid #6f7c97;
    padding: 16px 30px;
    border-radius: 15px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    filter: saturate(1.2) hue-rotate(-10deg);
    transition: 0.3s;

    &:hover {
        filter: saturate(1.2) hue-rotate(-10deg) brightness(1.2);
    }

    svg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        margin-right: 10px;
        border: 1px solid white;
        border-left: 1px solid FFFFFF50;
        padding: 10px;
        border-radius: 100px;
    }
}

.faq-content {
    background: rgba(0, 0, 0, 0.212);
    padding: 0;
    margin-top: -10px;
    border: 1px solid #FFFFFF50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding: 25px;
    padding-block: 0;


    &.open {
        padding: 25px;
        padding-top: 35px;
        max-height: 500px;

        
    }

    p {
        margin: 0;
        color: #ffffff;
        line-height: 1.6;
    }
}

/* FAQs.css */
.chevron-icon {
    transition: transform 0.3s ease;
}

.chevron-icon.rotate {
    transform: rotate(180deg);
}