.projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}

.projects-container h2.visible .projects-title1,
.projects-container h2.visible .projects-title2 {
    animation-play-state: running;
}

.projects {
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    gap: 30px;
}

.projects-slide {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    animation: scrollProjects 20s linear infinite;
}


.projects.projects-reverse .projects-slide {
    animation: scrollProjectsReverse 20s linear infinite;
}


.projects.projects-reverse .projects-slide:first-child {
    transform: translateX(calc(-100% - 30px));
}

@keyframes scrollProjects {
    to {
        transform: translateX(calc(-100% - 30px));
    }
}

@keyframes scrollProjectsReverse {
    from {
        transform: translateX(calc(-100% - 30px));
    }

    to {
        transform: translateX(0);
    }
}

@keyframes appearProjects {
    from {
        opacity: 0;
        filter: blur(10px);
        transform: translateY(50px) scale(1.8);
    }

    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0) scale(1);
    }
}