.services-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-inline: 50px;
    box-sizing: border-box;
}

.services-container::before {
    content:'';
    display: block;
    position: absolute;
    width: 1000px;
    height: 1000px;
    background: url(/img/squarelight.png);
    background-size: cover;
    z-index: 3;
    mix-blend-mode: soft-light;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(-500px, -250px);
    pointer-events: none;
}

.services-container .service {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 30px;
    border: 2px solid transparent;
    border-radius: 35px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 50px #08142e;

    h3 {
        font-weight: 700;
        font-size: 25px;
    }
    
    * {
        transition: all 0.3s ease;
        z-index: 2;
        text-shadow: 1px 1px var(--deepblue);
    }

    &:hover > .image {
        filter: brightness(1.2);
    }

}

.service-details {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    span {
        font-size: 13px;
        border: 1px solid white;
        border-radius: 100px;
        padding: 5px 10px;
        background: #03070d1c;
        text-align: center;
        backdrop-filter: blur(50px);
    }
}

.service .image {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    * {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 35px;
    }
}

.service .image video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.service .image::before {
    content:'';
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(transparent, transparent, var(--deepblue));
    opacity: 0.8;
    position: absolute;
}


.services-container .service {
    background: linear-gradient(180deg, #000a1d, #4b78b5, #000a1d);
}

.services-container .service.first, .services-container .service.last {
    background: linear-gradient(to right, #000a1d, #4b78b5, #000a1d);
}


@media (max-width: 1000px) {
    .services-container {
            justify-content: stretch;
            grid-template-columns: auto;
            padding-inline: 25px;
        }

    .services-container .service {
        width: 100%;
    }
}




