.servicehead-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 25px;
}

.servicehead {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

.servicehead-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.discs {
    display: flex
}

.discs div {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #3a4863;
    border: 1px solid #ffffff45;
    margin-right: -15px;

    &:last-child {
        margin-right: 0
    }
}

.puntuation {
    font-size: 13px;
    color: #7A93C1;

    svg {
        color: white;
    }
}

.servicehead-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-shadow: 1px 1px #03070d9a;

    h3 {
        font-size: 54px;
        font-weight: 500;
        text-align: center;
    }

    p {
        font-size: 20px;
        color: #C2C2C2;
        font-weight: 400
    }

}

.instrument-italic {
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 70px;
    color: var(--cyan);
}

.servicehead-button-box {
    display: flex;
    gap: 20px;
}

.servicehead-button {
    display: flex;
    gap: 10px;
    background: #485580;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease, background-color 1.2s cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    transform: translateY(15px);

    span {
        position: relative;
    }

    svg {
        font-size: 18px;
        transform: translate(2px, 3px);
    }

    &:hover {
        border: 1px solid white;
        color: var(--deepblue)
    }

    &:hover:before {
        width: 100%;
    }
}

.servicehead-button.visible {
    opacity: 1;
    transform: translateY(0);
}

.servicehead-button.blur-visible {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: #1929492e;
}

.servicehead-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: white;
    transition: all 0.3s ease;
}

.servicehead-button2 {
    display: flex;
    gap: 10px;
    background: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 800;
    color: var(--darkblue);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
}

@media (max-width: 900px) {
    .servicehead-content {
        p {
            padding: 0;
        }
    }

    .servicehead {
        padding: 40px 20px;
    }

    .servicehead-button {
        border: 1px solid white;
    }
}