@import "tailwindcss";

:root {
  --deepblue: #03070d;
  --lightblue: #468FB9;
  --cyan: #358AE2;
  --darkblue: #293b6fb0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

body {
    background: var(--deepblue);
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    letter-spacing: 0.2px;
    line-height: 1.3;
    min-height: 100vh;
}

#root {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
