@import "tailwindcss";

:root {
  --deepblue: #03070d;
  --lightblue: #468FB9;
  --cyan: #358AE2;
  --darkblue: #293b6fb0;
}

body {
    background: var(--deepblue);
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    letter-spacing: 0.2px;
    line-height: 1.3;
}
